@import "tailwindcss";

@variant dark (&:is(.dark *));

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background-color: white;
  color: #111827;
  font-family: Arial, Helvetica, sans-serif;
}

html.dark body {
  background-color: #09090b;
  color: #fafafa;
}
